/.ipynb_checkpoints
/acoustic_indices_per_day_julio_2025.csv
/acoustic_indices_per_day_junio_2025.csv
/analisis_de_datos_julio_2025.ipynb
/analisis_de_datos_junio_2025.ipynb
/bar_plot_BI.pdf
/bar_plot_NDSI.pdf
/bar_plot_SC.pdf
/BI_tendencial_plot_.pdf
/BI_tendencial_plot_.png
/BI_tendencial_polar_shap_values.pdf
/BI_tendencial_polar_shap_values.png
/BI_tendencial_shap_beeswarm.pdf
/BI_tendencial_shap_beeswarm.png
/df_acoustic_activity.csv
/geopark_2.code-workspace
/julio_bar_plot_BI.pdf
/julio_bar_plot_BI.png
/julio_bar_plot_NDSI.pdf
/julio_bar_plot_NDSI.png
/julio_bar_plot_SC.pdf
/julio_bar_plot_SC.png
/julio_plot_BI.pdf
/julio_plot_BI.png
/julio_plot_NDSI.pdf
/julio_plot_NDSI.png
/julio_plot_SC.pdf
/julio_plot_SC.png
/julio_tabla_correlacciones_BI.pdf
/julio_tabla_correlacciones_BI.png
/julio_tabla_correlacciones_NDSI.pdf
/julio_tabla_correlacciones_NDSI.png
/julio_tabla_correlacciones_SC.pdf
/julio_tabla_correlacciones_SC.png
/modelo.ipynb
/NDSI_correlation_table.pdf
/NDSI_correlation_table.png
/NDSI_tendencial_polar_shap_values.pdf
/NDSI_tendencial_polar_shap_values.png
/NDSI_tendencial_shap_beeswarm.pdf
/NDSI_tendencial_shap_beeswarm.png
/plot_BI.pdf
/plot_NDSI.pdf
/plot_SC.pdf
/polar_shap_values_NDSI.pdf
/polar_shap_values_NDSI.png
/SC_tendencial_plot_.pdf
/SC_tendencial_plot_.png
/SC_tendencial_polar_shap_values.pdf
/SC_tendencial_polar_shap_values.png
/SC_tendencial_shap_beeswarm.pdf
/SC_tendencial_shap_beeswarm.png
/shap_beeswarm_NDSI.pdf
/shap_beeswarm_NDSI.png
/tabla_correlacciones_BI.pdf
/tabla_correlacciones_NDSI.pdf
/tabla_correlacciones_SC.pdf
/tendencial_plot_NDSI.pdf
/tendencial_plot_NDSI.png
/tendencia_rmsdb.png
/violin_plot_shap_values_mes_BI.pdf
/violin_plot_shap_values_mes_BI.png
/violin_plot_shap_values_mes_NDSI.pdf
/violin_plot_shap_values_mes_NDSI.png
/violin_plot_shap_values_mes_SC.pdf
/violin_plot_shap_values_mes_SC.png
/violin_plot_shap_values_temporada_BI.pdf
/violin_plot_shap_values_temporada_BI.png
/violin_plot_shap_values_temporada_SC.pdf
/violin_plot_shap_values_temporada_SC.png